html {
  /* color: blue; */
  font-size: 12px;
}

.ReactTable .rt-tbody .rt-td {
  border-right: 1px solid ;
}
.ReactTable .rt-thead .rt-th {
  font-weight: bold !important;
}
.recharts-polar-radius-axis {
  display: none;
}